/* Regole generali */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-size: 12px;
  color: #7a7a7a;
}

span {
  font-size: 14px;
  color: #7a7a7a;
}

ul {
  list-style: none;
}

/* General (Specifici) */
.container-flex {
  display: flex;
}

.display-block {
  display: inline-block;
}

.not-display {
  display: none;
}

.select {
  background-color: #e0e0e0;
}

.not_select {
  background-color: #ffffff;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Main */
.container-background {
  position: relative;
  height: 100vh;
  padding: 20px 0;
  background-color: #e0e0e0;
}

.container-background::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 120px;
  content: '';
  background-color: #009688;
}

.container-in {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  width: 80%;
  height: 100%;
  margin: auto;
}

.row-left, .row-right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row-left {
  width: 30%;
}

.row-right {
  width: 70%;
}

.top-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #e0e0e0;
}

.top-content img {
  width: 44px;
  margin-right: auto;
  border-radius: 50%;
  cursor: pointer;
}

.top-content i {
  margin-left: 14px;
  font-size: 18px;
  color: #636363;
  cursor: pointer;
}

.top-content h2 {
  padding-bottom: 5px;
  cursor: pointer;
}

.top-content span {
  font-size: 12px;
}

/* Notifiche */
.notification {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #9de1fe;
}

.notification div > h2 {
  font-size: 14px;
  font-weight: bold;
}

.notification > :first-child {
  margin-right: 20px;
}

.notification i {
  border-radius: 50%;
  padding: 13px 10px;
  background-color: #ffffff;
  font-size: 20px;
  color: #9de1fe;
}

.notification h2 {
  padding-bottom: 5px;
}

.notification h3 {
  text-decoration: underline;
  cursor: pointer;
}

/* Ricerca contatti */
.search {
  padding: 5px 10px;
  background-color: #f4f7f4;
}

.search div {
  position: relative;
}

.search div::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  content: '\f002';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 20px;
  color: #636363;
}

.search input {
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 5px 0 5px 40px;
}

.contact {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0 12px;
  background-color: #f4f7f4;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 4px solid #f4f7f4;
  padding: 10px;
  cursor: pointer;
}

.user:hover {
  background-color: #e0e0e0;
}

.user img {
  width: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.user h2 {
  padding-bottom: 5px;
}

.user span {
  display: inline-block;
  margin-left: auto;
  padding-bottom: 20px;
}

.info-utente {
  margin-right: auto;
  align-items: center;
}

.info-utente div {
  margin-left: 10px;
}

.chat {
  flex-grow: 1;
  background-image: url(../img/bg.jpg);
  padding: 20px 40px;
  overflow-y: scroll;
}

.chat-utente {
  flex-direction: column;
}

/* Bubble chat */
.bubble {
  position: relative;
  max-width: 260px;
  border-radius: 8px;
  margin: 16px 0;
  padding: 10px;
  line-height: 22px;
}

.bubble i {
  position: absolute;
  display: none;
  top: 6px;
  right: 6px;
  font-size: 18px;
  color: #636363;
  cursor: pointer;
}

.bubble:hover i {
  display: inline-block;
}

.bubble.send {
  margin-left: auto;
  background-color: rgb(208, 247, 183);
}

.bubble.receive {
  margin-right: auto;
  background-color: #ffffff;
}

.bubble p {
  padding-right: 14px;
  padding-bottom: 5px;
}

.bubble span {
  color: #7a7a7a;
}

.option {
  position: absolute;
  top: 30px;
  right: 0;
  width: 136px;
  border-radius: 4px;
  padding: 5px;
  background-color: #f4f7f4;
  text-align: center;
}

.option h2 {
  margin: 5px;
  cursor: pointer;
}

.option h2:hover {
  text-decoration: underline;
}

.write {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid #e0e0e0;
  padding: 10px 20px;
  background-color: #f4f7f4;
}

.write i {
  font-size: 24px;
  color: #636363;
  cursor: pointer;
}

.write input {
  flex-grow: 1;
  margin: auto 20px;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.template {
  display: none;
}
